<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    {% if page.description %}
    <meta name="description" content="{{page.description}}">
    {% else %}
    <meta name="description" content="{{site.description}}">
    {% endif %}
    <meta name="author" content="{{site.author}}">
    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>
      Changed
      {% if page.title %}
      {{ page.title }} &middot; {{ site.title }}
      {% else %}
      {{ page.title }}
      {% endif %}

    </title>
    <!-- Bootstrap core CSS-->
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <!-- Font-awesome.min.css ajoute les outils sur les box -->
    <link href="../../fonts/css/font-awesome.min.css" rel="stylesheet">
    <link href="../../css/animate.min.css" rel="stylesheet">
    <!-- Custom styling plus plugins -->
    <link href="../../css/custom.css" rel="stylesheet">
    <link href="../../css/maps/jquery-jvectormap-2.0.3.css" rel="stylesheet" type="text/css">
    <link href="../../css/icheck/flat/green.css" rel="stylesheet">
    <link href="../../css/floatexamples.css" rel="stylesheet" type="text/css">
    <script src="../../js/roslibjs/eventemitter2.min.js" type="text/javascript"></script>
    <script src="../../js/roslibjs/roslib.min.js" type="text/javascript"></script>
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <!-- bootstrap progress js -->
    <script src="../../js/progressbar/bootstrap-progressbar.min.js"></script>
    <script src="../../js/nicescroll/jquery.nicescroll.min.js"></script>
    <!-- icheck -->
    <script src="../../js/icheck/icheck.min.js"></script>
    <!-- gauge js
        <script type="text/javascript" src="../../js/gauge/gauge.min.js"></script>
        <script type="text/javascript" src="../../js/gauge/gauge_demo.js"></script>-->
    <!-- daterangepicker -->
    <script src="../../js/moment/moment.min.js" type="text/javascript"></script>
    <!-- chart js -->
    <script src="../../js/chartjs/chart.min.js"></script>
    <!-- sparkline -->
    <script src="../../js/sparkline/jquery.sparkline.min.js"></script>
    <script src="../../js/custom.js"></script>
    <!-- skycons -->
    <script src="../../js/skycons/skycons.min.js"></script>
    <!-- flot js -->
    <!--[if lte IE 8]><script type="text/javascript" src="../../js/excanvas.min.js"></script><![endif]-->
    <script src="../../js/flot/jquery.flot.js" type="text/javascript"></script>
    <script src="../../js/flot/jquery.flot.pie.js" type="text/javascript"></script>
    <script src="../../js/flot/jquery.flot.orderBars.js" type="text/javascript"></script>
    <script src="../../js/flot/jquery.flot.time.min.js" type="text/javascript"></script>
    <script src="../../js/flot/jquery.flot.spline.js" type="text/javascript"></script>
    <script src="../../js/flot/jquery.flot.stack.js" type="text/javascript"></script>
    <script src="../../js/flot/curvedLines.js" type="text/javascript"></script>
    <script src="../../js/flot/jquery.flot.resize.js" type="text/javascript"></script>
    <script src="../../js/flot/jquery.flot.symbol.min.js" type="text/javascript"></script>
    <!-- range slider -->
    <script src="../../js/ion_range/ion.rangeSlider.min.js"></script>
    <!-- pace -->
    <script src="../../js/pace/pace.min.js"></script>
    <!-- flot -->
    <script src="../../js/flot/jquery.flot.navigate.js"></script>
    <script src="../../js/flot/jquery.flot.coordinate.js"></script>
    <!-- Messenger - notifications from Hubspot -->
    <script src="../../js/messenger/messenger.min.js"></script>
    <script src="../../js/messenger/messenger-theme-flat.js"></script>
    <link href="../../css/messenger/messenger.css" rel="stylesheet" type="text/css">
    <link href="../../css/messenger/messenger-theme-flat.css" rel="stylesheet" type="text/css"> </head>
